@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto-Black-webfont.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

:root {
    font-family: 'Roboto', sans-serif, serif;
    --header-color: rgb(240, 198, 144);
    --gray-text: rgb(92, 90, 90); 
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-size: 4em;
    color: brown;
}

.header svg {
    height: 5em;
    fill: brown;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--header-color);
    padding: 2em 1.5em;
}

.sidebar h1 {
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 2px solid brown;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 1.5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    border-radius: 1em;
    border: 2px solid brown;
    padding: 1em;
}

input {
    appearance: none;
    height: 1.5em;
    font-size: 1em;
    font-family: inherit;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
}

input[type=text],
input[type=tel] {
    margin-top: .5em;
}

input:focus {
    background-color: bisque;
    outline: 2px solid brown;
}

input[type=radio] {
    appearance: none;
  
    border-radius: 50%;
    width: 1em;
    height: 1em;
  
    border: 2px solid brown;
    transition: 0.2s all ease;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: .5em solid brown;
  }
  

.add-to-list {
    border: none;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-top: 2em;
    font-size: 1.3em;
    background-color: rgb(168, 139, 100);
    transform: scale(1);
}

.add-to-list:hover {
    box-shadow: 0px 0px 15px 3px antiquewhite;
    transform: scale(1.1);
    transition: transform 0.5s;
    color: brown;
}

.card-container {
    padding: 1.5em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5em;
    align-items: start;
}

.card {
    background-color: bisque;
    padding: 1em;
    box-shadow: 0px 0px 15px 3px burlywood;
    border-radius: 1em;
    border-left: 1em solid brown;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: scale(1);
}

.card:hover {
    box-shadow: 0px 0px 15px 15px burlywood;
    transform: scale(1.1);
    transition: transform 0.7s;
}

.card h2,
.card h3 {
    margin: 0;
}

.card h3 {
    font-style: italic;
    color: var(--gray-text);
}

.icons {
    align-self: flex-end;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.book-info {
    background-color: var(--header-color);
    padding: 3em;
    display: flex;
}

.info-container {
    background-color: antiquewhite;
    border-radius: 1em;
    border-left: 1em solid brown;
    box-shadow: 0.8em .3em 0px 5px burlywood;
    padding: 3em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: 2em;
    color: var(--gray-text);
}

.read {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.toggleRead {
    border: none;
    border-radius: 1em;
    color:brown;
    background-color: var(--header-color);
    align-self: center;
}
